{% extends "base.html" %}
{% block content %}
<h2>{{ object.first_name }} {{ object.last_name }}</h2>
<p>Email: {{ object.email }}</p>
<p>DOB: {{ object.dob }}</p>

<h3>Metadata</h3>
<ul>
  {% for m in object.metadata.all %}
  <li>{{ m.key }}: {{ m.value }}</li>
  {% empty %}
  <li>No metadata</li>
  {% endfor %}
</ul>
{% if user.is_authenticated %}
  <a href="{% url 'student_edit' object.pk %}">Edit</a> |
  <a class="confirm-delete" href="{% url 'student_delete' object.pk %}">Delete</a>
{% endif %}
{% endblock %}
