{% extends "base.html" %}
{% load form_tags %}
{% block content %}
<div class="container my-5">
  <h2 class="mb-4">{{ view.object|default:"New Instructor" }}</h2>

  {% if form.errors %}
  <div class="alert alert-danger">
    <strong>Please fix the following errors:</strong>
    <ul>
      {% for field in form %}
        {% for error in field.errors %}
          <li>{{ field.label }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <form method="post" action="{% if view.object %}{% url 'instructor_edit' view.object.pk %}{% else %}{% url 'instructor_create' %}{% endif %}">
    {% csrf_token %}
    <fieldset class="mb-4 p-4 border rounded shadow-sm bg-light">
      <legend class="h5 mb-3">Basic Details</legend>
      <div class="mb-3">
        <label class="form-label">First Name</label>
        {{ form.first_name|add_class:"form-control" }}
      </div>
      <div class="mb-3">
        <label class="form-label">Last Name</label>
        {{ form.last_name|add_class:"form-control" }}
      </div>
      <div class="mb-3">
        <label class="form-label">Email </label>
        {{ form.email|add_class:"form-control" }}
      </div>
      <div class="mb-3">
        <label class="form-label">Courses</label>
        {% if form.courses and form.courses.field.queryset.exists %}
      <div class="row row-cols-1 row-cols-md-2 g-2">
        {% for course in form.courses %}
          <div class="col">
            <div class="form-check">
              {{ course.tag }}
              <label class="form-check-label" for="{{ course.id_for_label }}">
                {{ course.choice_label }}
              </label>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-info text-center mb-0 py-2">
        No Course available. Please add some from the Courses section.
      </div>
    {% endif %}
      </div>
    </fieldset>
        <!-- Metadata -->
    <fieldset class="mb-4 p-4 border rounded shadow-sm bg-light">
  <legend class="h5 mb-3">Other Details</legend>

  <div class="mb-3">
    {% if form.metadata and form.metadata.field.queryset.exists %}
      <div class="row row-cols-1 row-cols-md-2 g-2">
        {% for checkbox in form.metadata %}
          <div class="col">
            <div class="form-check">
              {{ checkbox.tag }}
              <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                {{ checkbox.choice_label }}
              </label>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-info text-center mb-0 py-2">
        No metadata available. Please add some from the Metadata section.
      </div>
    {% endif %}
  </div>
</fieldset>
        <button type="submit" class="btn btn-gradient btn-md">Save Course</button>
  </form>
</div>
{% endblock %}
